{% load static %}

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Django Anúncios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <link
            rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
    >
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/se/dt-1.11.3/datatables.min.css"/>
</head>

<body>

<div class="ui menu attached">
    <div class="ui container">
        <a class="item" href="{% url 'home' %}">Django Anúncios</a>
        <div class="right menu">
            {% if request.user.is_authenticated %}
            <div class="ui fluid menu">

                <a class="item" href="{% url 'cadastrar-anuncio' %}">
                    <i class="bullhorn icon"></i>
                    Anuncie
                </a>
            </div>
            <div class="ui menu">
                <div class="ui simple dropdown fluid item">
                    <i class="user icon"></i>
                    {{ request.user }}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% if request.user.is_superuser %}
                        <a class="item" href="{% url 'atualizar-dados' %}">
                            Perfil
                        </a>
                        <a class="item" href="{% url 'cadastrar-categoria' %}">
                            Cadastrar Categoria
                        </a>
                        <a class="item" href="{% url 'logout' %}">
                            Sair
                        </a>
                        {% endif %}
                        {% for group in request.user.groups.all %}
                        {% if group.name == 'Administrador' %}
                        <a class="item" href="{% url 'atualizar-dados' %}">
                            Perfil
                        </a>
                        <a class="item" href="{% url 'cadastrar-categoria' %}">
                            Cadastrar Categoria
                        </a>
                        <a class="item" href="{% url 'logout' %}">
                            Sair
                        </a>
                        {% else %}
                        <a class="item" href="{% url 'atualizar-dados' %}">
                            Perfil
                        </a>
                        <a class="item" href="{% url 'logout' %}">
                            Sair
                        </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
            <a class="item" href="{% url 'registrar' %}">Sign Up</a>
            <a class="item" href="{% url 'login' %}">Sign In</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui vertical fluid menu">
                <a href="{% url 'tabela-anuncios' %}" class="item">
                    Todos os Anúncios
                </a>
                {% for categoria in categorias %}
                <a href="{% url 'categoria' categoria.id %}" class="item">
                    {{ categoria }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="twelve wide column">
            {% if categoria %}
            <h1>{{ categoria }}</h1>
            <hr>
            {% endif %}
            {% block conteudo %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'anuncios/js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/se/dt-1.11.3/datatables.min.js"></script>

{% block scripts %}
{% endblock %}


</body>

</html>