{% extends 'anuncios/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block conteudo %}
<h2>{{ titulo }}</h2>
<h3>{{ subtitulo }}</h3>
<div class="ui fluid card">
    <div class="ui container">
        <form action="" method="post">
            <hr>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="ui {{ cor }} button">{{ texto }}</button>
            <hr>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'anuncios/js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function(){

         $('#id_cpf').mask('000.000.000-00', {reverse: true});

         var SPMaskBehavior = function (val) {
          return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        },

        spOptions = {
          onKeyPress: function(val, e, field, options) {
              field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

        $('#id_telefone').mask(SPMaskBehavior, spOptions);
    });

</script>

{% endblock %}